# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# FastAPI / Python env
.env
*.env

# YOLO model files
*.pt
*.onnx
*.engine

# Node / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
